.movieBtn {
   border: none;
   background-color: black;
   color: white;
   float: right;
}

.movieInfo {
   border: 1px solid white;
   display: none;
   height:fit-content;
   margin: auto 0;
   position: relative;
   top: -5rem;
}